# Virtual environment
venv/
.venv/

# Python artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environment config
.env

# Flask instance folder
instance/

# SQLite DB (if not tracked)
*.sqlite3
*.db

# Logs
*.log
